{% extends 'base.html'%} {% load static %}
<html lang="ru" class="h-100">
	<head>
		<meta charset="utf-8" />
		<style>
			html,
			body {
				min-height: calc(100%);
				width: calc(100%);
			}
			body {
				min-height: 100vh;
				width: 100vw;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.wrapper {
				width: 60%;
				display: block;
				overflow: hidden;
				margin: 0 auto;
				padding: 60px 50px;
				background: #fff;
				border-radius: 4px;
			}

			canvas {
				background: #fff;
				height: 400px;
			}

			h1 {
				font-family: Roboto;
				color: #fff;
				margin-top: 50px;
				font-weight: 200;
				text-align: center;
				display: block;
				text-decoration: none;
			}
			.qwe {
				transform: scale(1.9);
			}
			.appointment-row:hover {
				background-color: #c0c0c0;
				cursor: pointer;
			}
			thead input {
				width: 100%;
				text-align: center;
			}
			.dataTables_filter {
				display: none;
				text-align: right;
			}

			.dataTables_filter label {
				display: inline-block;
				margin-bottom: 5px;
				font-weight: bold;
			}

			.dataTables_filter input[type='search'] {
				padding: 5px;
				border: 1px solid #ccc;
				border-radius: 4px;

			}
		</style>

	</head>
	<body class="flex-column h-100">
		{% block content %}
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

		{% if doctor.post != 1 %}


		<div class="container">
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<br />
			<div class="container">
				<form method="POST" action="task" enctype="multipart/form-data">
					{% csrf_token %}
					<h5 class="display-10fw-bold text-left">
						Выберите ответсвенного доктора
					</h5>
					<select
						class="form-select mb-3 multi-select-doctor"
						aria-label="Пример выбора по умолчанию"
						name="doctor"
					>
						{% for i in doctors %} {% if i.post == 1 %}
						<option value="{{i.id}}">
							{{i.surname}} {{i.first_name}} {{i.patronymic}} / Доктор
						</option>
						{% endif %} {% endfor %}
					</select>
					<div class="row">
						<div class="col-6">
							<h5 class="display-10fw-bold text-left">
								Выберете пациентов для прикрепления к доктору
							</h5>
						</div>
						<div class="col-6">
							<div class="form-check form-switch">
								<input
									class="form-check-input"
									type="checkbox"
									role="switch"
									id="flexSwitchCheckChecked1"
								/>
								<label class="form-check-label" for="flexSwitchCheckChecked1"
									>Переключить содержимое таблицы (Диабет)</label
								>
							</div>
						</div>
					</div>
					<div class="scroll-table-body">
						<table
							id="patients_with_d"
							class="table-group-divider zz w-100 table table-striped-columns"
						>
							<thead>
								<tr>
									<th class="visually-hidden">id</th>
									<th scope="col" class="col-2 text-center">Больница</th>
									<th scope="col" class="col-2 text-center">Фамилия</th>
									<th scope="col" class="col-2 text-center">Имя</th>
									<th scope="col" class="col-2 text-center">Отчество</th>
									<th scope="col" class="col-2 text-center">
										Дата приема
										<a href="#" onclick="sortTableByDate()">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-filter"
												viewBox="0 0 16 16"
											>
												<path
													d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
												/>
											</svg>
										</a>
									</th>
									<th scope=" col" class="col-1 text-center">Вероятность</th>
								</tr>
							</thead>
							<tbody class="table-group-divider" id="p_with_d">
								{% for appointment in app_with_d %} 

										{% if appointment.score >= 0.9 %}
											<tr onclick="moveToSelected(this)" class="user-danger">
												<td class="visually-hidden">{{ appointment.id }}</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.locations }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.first_name }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.surname }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.patronymic }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.date|date:"d-m-Y" }}
												</td>
												<td scope="col" class="text-center">
													{{ appointment.score|floatformat:"-2" }}
												</td>
											</tr>
										{% elif 0.9 > appointment.score and appointment.score >= 0.55 %}
											<tr onclick="moveToSelected(this)" class="user-warning">
												<td class="visually-hidden">{{ appointment.id }}</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.locations }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.first_name }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.surname }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.patronymic }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.date|date:"d-m-Y" }}
												</td>
												<td scope="col" class="text-center">
													{{ appointment.score|floatformat:"-2" }}
												</td>
											</tr>
										{% else %}
										<tr onclick="moveToSelected(this)" class="table-info">
											<td class="visually-hidden">{{ appointment.id }}</td>
											<td scope="col-2" class="text-center">
												{{ appointment.patient.locations }}
											</td>
											<td scope="col-2" class="text-center">
												{{ appointment.patient.first_name }}
											</td>
											<td scope="col-2" class="text-center">
												{{ appointment.patient.surname }}
											</td>
											<td scope="col-2" class="text-center">
												{{ appointment.patient.patronymic }}
											</td>
											<td scope="col-2" class="text-center">
												{{ appointment.date|date:"d-m-Y" }}
											</td>
											<td scope="col" class="text-center">Норма</td>
										</tr>
										{% endif %} 	
								{% endfor %}
							</tbody>
							<tbody
								class="table-group-divider"
								id="p_without_d"
								style="display: none"
							>
								{% for appointment in app_without_d %} 
										{% if appointment.score >= 0.9 %}
											<tr onclick="moveToSelected(this)" class="user-danger">
												<td class="visually-hidden">{{ appointment.id }}</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.locations }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.first_name }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.surname }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.patronymic }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.date|date:"d-m-Y" }}
												</td>
												<td scope="col" class="text-center">
													{{ appointment.score|floatformat:"-2" }}
												</td>
											</tr>
										{% elif 0.9 > appointment.score and appointment.score >= 0.55 %}
											<tr onclick="moveToSelected(this)" class="user-warning">
												<td class="visually-hidden">{{ appointment.id }}</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.locations }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.first_name }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.surname }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.patronymic }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.date|date:"d-m-Y" }}
												</td>
												<td scope="col" class="text-center">
													{{ appointment.score|floatformat:"-2" }}
												</td>
											</tr>
										{% else %}
											<tr onclick="moveToSelected(this)" class="table-info">
												<td class="visually-hidden">{{ appointment.id }}</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.locations }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.first_name }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.surname }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.patronymic }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.date|date:"d-m-Y" }}
												</td>
												<td scope="col" class="text-center">Норма</td>
											</tr>
										{% endif %} 
								{% endfor %}
							</tbody>
						</table>
					</div>
					<input type="hidden" id="selectedPatientsInput" name="patients" />
					<select
						id="selectedPatients"
						class="multi-wrapper"
						multiple="multiple"
						name="patients"
						onchange="moveToTable(this)"
					></select>
					<button
						class="btn appointment-button d-grid gap-2 col-6 mx-auto my-3"
						type="submit"
					>
						Закрепить пациентов за врачом
					</button>
				</form>
			</div>
		</div>

		<script>
			const checkbox = document.getElementById('flexSwitchCheckChecked1')
			const patientsWithDiabetes = document.getElementById('p_with_d')
			const patientsWithoutDiabetes = document.getElementById('p_without_d')
			const label = document.querySelector(
				"label[for='flexSwitchCheckChecked1']"
			)

			checkbox.addEventListener('change', function () {
				if (checkbox.checked) {
					patientsWithDiabetes.style.display = 'none'
					patientsWithoutDiabetes.style.display = ''
					label.innerText = 'Переключить содержимое таблицы (Без диабета)'
				} else {
					patientsWithDiabetes.style.display = ''
					patientsWithoutDiabetes.style.display = 'none'
					label.innerText = 'Переключить содержимое таблицы (Диабет)'
				}
			})
		</script>
		<script src="{% static 'js/table_select.js' %}"></script>
		<script src="{% static 'js/sort_table_gd.js' %}"></script>
		<script src="{% static 'js/sort_table_check.js' %}"></script>

		<div class="container wrapper">
			<table
				id="patient-table"
				class="table-group-divider zz w-100 table table-striped-columns"
				style="width: 100%"
			>
				<thead>
					<tr>
						<th class="align-middle" style="width: 15%; text-align: center">
							Больница
						</th>
						<th class="align-middle" style="width: 15%; text-align: center">
							Фамилия
						</th>
						<th class="align-middle" style="width: 15%; text-align: center">
							Имя
						</th>
						<th class="align-middle" style="width: 15%; text-align: center">
							Отчество
						</th>
						<th class="align-middle" style="width: 10%; text-align: center">
							Дата рождения
						</th>
						<th class="align-middle" style="width: 10%; text-align: center">
							Дата последнего приема
						</th>
						<th class="align-middle" style="width: 5%; text-align: center">
							Патология
						</th>
					</tr>
				</thead>
				<tbody class="table-group-divider"></tbody>
			</table>
		</div>
		<link
			rel="stylesheet"
			href="{% static 'css/jquery.dataTables.min.css' %}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'css/searchPanes.dataTables.min.css' %}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'css/buttons.dataTables.min.css' %}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'css/dataTables.dateTime.min.css' %}"
		/>
		<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'js/moment.min.js' %}"></script>
		<script src="{% static 'js/dataTables.dateTime.min.js' %}"></script>
		<script src="{% static 'js/datatable_patient.js' %}"></script>
		<script>
			$(document).ready(function () {
				$('#patient-table thead tr')
					.clone(true)
					.not(
						':contains("Дата рождения"), :contains("Дата последнего приема")'
					)
					.appendTo('#patient-table thead')
				var table = $('#patient-table').DataTable({
					ajax: "{% url 'patient_list_json' %}",
					initComplete: function () {
						this.api()
							.columns([0, 6])
							.every(function () {
								var column = this
								let title = column.header().textContent
								let select = document.createElement('select')
								select.placeholder = title
								select.style.width = '100%'
								select.add(new Option(''))
								column.header().replaceChildren(select)
								select.addEventListener('change', function () {
									var val = DataTable.util.escapeRegex(select.value)
									column.search(val ? '^' + val + '$' : '', true, false).draw()
								})
								column
									.data()
									.unique()
									.sort()
									.each(function (d, j) {
										select.add(new Option(d))
									})
							})
						this.api()
							.columns([1, 2, 3])
							.every(function () {
								let column = this
								let title = column.header().textContent
								let input = document.createElement('input')
								input.placeholder = title
								column.header().replaceChildren(input)
								input.addEventListener('keyup', function () {
									if (column.search() !== this.value) {
										column.search(input.value).draw()
									}
								})
							})
					},
					columns: [
						{ data: 'locations', width: '20%', targets: 0 },
						{ data: 'first_name', width: '10%', targets: 1 },
						{ data: 'surname' },
						{ data: 'patronymic' },
						{ data: 'date_of_birth' },
						{ data: 'appointment_last' },
						{ data: 'pathology' },
					],
					columnDefs: [
						{
							targets: [0, 6],
							orderable: false,
						},
					],
					language: {
						url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/ru.json',
					},
					paging: true,
					pageLength: 10,
					autoWidth: false,
					searching: true,
					lengthChange: false,
					dom: '<"row"<"col-sm-6"l><"col-sm-6"fB>>tip',
					buttons: [
						{
							text: 'Действия',
							className: 'btn btn-outline-secondary dropdown-toggle',
							action: function (e, dt, node, config) {
								$('.dropdown-menu').toggle()
							},
						},
					],
				})
				document.querySelectorAll('a.toggle-vis').forEach(el => {
					el.addEventListener('click', function (e) {
						e.preventDefault()
						let columnIdx = e.target.getAttribute('data-column')
						let column = table.column(columnIdx)
						column.visible(!column.visible())
					})
				})
				$('#patient-table tbody').on('click', 'tr', function () {
					var row = table.row(this)
					if (row.child.isShown()) {
						row.child.hide()
						$(this).removeClass('shown')
					} else {
						row.child(format(row.data())).show()
						$(this).addClass('shown')
					}
				})
				var searchInput = document.getElementById('search-input')
				searchInput.addEventListener('keyup', function () {
					table.search(searchInput.value).draw()
				})
			})
			function moveCheckSelected(key) {
				window.location.href = '/get_check_appointment' + key
			}
		</script>
		<script>
			function check(id) {
				var dinamyc_image = document.getElementById('dinamyc_image' + id)
				var no_dinamyc_image = document.getElementById('no_dinamyc_image' + id)
				if (dinamyc_image.style.display === 'none') {
					dinamyc_image.style.display = ''
					no_dinamyc_image.style.display = 'none'
				} else {
					dinamyc_image.style.display = 'none'
					no_dinamyc_image.style.display = ''
				}
			}
		</script>
		{% for patient in patients %} {% for i in patient.appointments.all %}
		<!-- Модальное окно -->
		<div
			class="modal fade"
			id="modal{{i.id}}"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="false"
		>
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<div class="container">
							<h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">
								<div class="row">
									<div class="text-center">
										Пациент: {{patient.first_name}} {{patient.surname}}
										{{patient.patronymic}}
									</div>
								</div>
								<div class="row text-center">
									<div class="text-center">
										Дата рождения: {{patient.date_of_birth|date:"d-m-Y"}}г.
									</div>
								</div>
							</h1>
						</div>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Закрыть"
						></button>
					</div>
					<div class="container">
						<div class="card border-0">
							<div class="row mb-3">
								<div id="patient-info{{i.id}}"></div>
							</div>
							<div class="form-group mb-3">
								<label for="exampleFormControlTextarea1">
									<h5>Заключение</h5>
								</label>
								<textarea
									class="form-control appointment-card-textarea"
									id="exampleFormControlTextarea1"
									rows="3"
								>
									{{appointment.report}}
								</textarea
								>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal"
						>
							Закрыть
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Новое модальное окно -->
		{% endfor %} {% endfor %}
		<br /><br />
		<script src="{% static 'js/chart.js' %}"></script>
		<script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
		<div class="container">
			<form method="POST" action="filter_chart" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="input-group">
					<div class="input-group-text">От</div>
					<input
						type="date"
						class="form-control"
						name="data_from"
						value="2017-06-01"
					/>
					<div class="input-group-text">До</div>
					<input
						type="date"
						class="form-control"
						name="data_to"
						value="2030-06-01"
					/>
					<button class="btn appointment-button" type="submit">
						Фильтр по дате
					</button>
				</div>
			</form>
			<div class="row gy-5 justify-content-center align-items-center">
				<div class="col-5 chart-container">
					<canvas id="myChart3"></canvas>
				</div>
				<div class="col-1"></div>
				<div class="col-5">
					<canvas id="myChart2"></canvas>
				</div>
			</div>
			<br />
			<div class="row gy-5 justify-content-center">
				<div class="col-5 chart-container">
					<canvas id="myChart1"></canvas>
				</div>
				<div class="col-1"></div>
				<div class="col-5">
					<canvas id="myChart4"></canvas>
				</div>
			</div>
		</div>
		<script>
			const ctx1 = document.getElementById('myChart1');
			var ctx2 = document.getElementById("myChart2").getContext('2d');
			const ctx3 = document.getElementById('myChart3');
			const ctx4 = document.getElementById('myChart4');

			new Chart(ctx1, {
			  plugins: [ChartDataLabels],
			  type: 'doughnut',
			    data: {
			      labels: ['Женщины', 'Мужчины'],
			      datasets: [
			        {
			          data: [{{inform_list_f}}, {{inform_list_m}}],
			        },
			      ],
			    },
			    options: {
			        scales: {
			          y: {
			            beginAtZero: true
			          },
			        },
			    plugins: {
			        datalabels: {
			          display: true,
			          align: 'center',
			          backgroundColor: '#ccc',
			          borderRadius: 3,
			          font: {
			            size: 18,
			          },
			        },
			      },
			    },
			});
			  var myChart = new Chart(ctx2, {
			    plugins: [ChartDataLabels],
			    type: 'bar',
			    data: {
			      labels: ["до 18","от 18 до 30","от 30 до 45","от 45 до 60","старше 60"],
			      datasets: [{
			        label: 'С паталогией',
			        backgroundColor: '#6495ed',
			        data: [{{inform_list_18_t}}, {{inform_list_30_t}}, {{inform_list_45_t}}, {{inform_list_60_t}}, {{inform_list_70_t}}],
			      }, {
			        label: 'Без патологии',
			        backgroundColor: '#20b2aa',
			        data: [{{inform_list_18_f}}, {{inform_list_30_f}}, {{inform_list_45_f}}, {{inform_list_60_f}}, {{inform_list_70_f}}],
			      }],
			    },
			      options: {

			        plugins: {
			            datalabels: {
			              display: true,
			              align: 'top',
			              backgroundColor: '#ccc',
			              borderRadius: 3,
			              font: {
			                size: 12,
			              },
			            },
			          },
			    }
			  });

			  var labels_ = [
			      {% for item in inform_list_l %}
			        "{{ item.key }}",
			      {% endfor %}
			    ]
			  var value_ = [
			      {% for item in inform_list_l %}
			        {{ item.value }},
			      {% endfor %}
			    ]
			  new Chart(ctx3, {
			      plugins: [ChartDataLabels],
			      type: 'doughnut',
			      data: {
			        labels: labels_,
			        datasets: [{
			          label: 'человек',
			          data: value_,
			          borderWidth: 1
			        }]
			      },
			      options: {
			        scales: {
			          y: {
			            beginAtZero: true
			          }
			        },
			        plugins: {
			            datalabels: {
			              display: true,
			              align: 'top',
			              backgroundColor: '#ccc',
			              borderRadius: 3,
			              font: {
			                size: 12,
			              },
			            },
			          },
			      }
			    });
			new Chart(ctx4, {
			  plugins: [ChartDataLabels],
			  type: 'doughnut',
			  data: {
			    labels: ['Норма мужчины', 'Патология мужчины', 'Норма женщины', 'Патология женщины'],
			      datasets: [
			        {
			          data: [{{inform_list_p1}}, {{inform_list_p2}}, {{inform_list_p3}}, {{inform_list_p4}}],
			              backgroundColor: [
			                '#ff6425',
			                '#cf3500',
			                '#20b2aa',
			                '#6495ed',
			              ],
			        },
			      ],
			  },
			  options: {
			    scales: {
			      y: {
			        beginAtZero: true
			      }
			    },
			    plugins: {
			        datalabels: {
			          display: true,
			          align: 'center',
			          backgroundColor: '#ccc',
			          borderRadius: 3,
			          font: {
			            size: 16,
			          },
			        },
			      },
			  }
			});
		</script>
		{% else %}

		<style>
			#loading {
				position: fixed;
				top: 50%;
				left: 50%;
				width: 6rem;
				height: 6rem;
				z-index: 9999; /* Устанавливаем высокий z-index, чтобы элемент был поверх всех других */
				background-color: rgba(255, 255, 255, 0.8); /* Прозрачный фон */
				padding: 20px;
			}
		</style>
		<div class="main-index">

			<h3>SDFGSDFG</h3>

			<div class="container py-3 border-bottom main-index-current-task">
				<div
					id="loading"
					class="text-center sticky-top spinner-border text-primary"
					role="status"
					style="display: none"
				>
					<span class="visually-hidden sr-only">Загрузка...</span>
				</div>
				<div class="row">
					<div class="col">
						<h3 class="container display-10 fw-bold text-left p-0">
							Текущие задачи
						</h3>
					</div>
					<div class="col-6">
						<div class="form-check form-switch">
							<input
								class="form-check-input"
								type="checkbox"
								role="switch"
								id="TableTask"
							/>
							<label class="form-check-label" for="TableTask"
								>Переключить содержимое таблицы (Диабет)</label
							>
						</div>
					</div>
				</div>

				<div class="scroll-table-body">
					<table
						id="patients_with_dy"
						class="table-group-divider zz w-100 table table-striped-columns"
					>
						<thead>
							<tr>
								<th scope="col" class="col-2 text-center">Больница</th>
								<th scope="col" class="col-2 text-center">Фамилия</th>
								<th scope="col" class="col-2 text-center">Имя</th>
								<th scope="col" class="col-2 text-center">Отчество</th>
								<th scope="col" class="col-2 text-center">
									Дата приема
									<a href="#" onclick="sortTableByDate1()">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="16"
											height="16"
											fill="currentColor"
											class="bi bi-filter"
											viewBox="0 0 16 16"
										>
											<path
												d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
											/>
										</svg>
									</a>
								</th>
								<th scope="col" class="col-1 text-center">Вероятность</th>
							</tr>
						</thead>
						<tbody class="table-group-divider" id="p_with_dy">
							{% for app in patients_with_diabetes %}
									{% if app.score >= 0.9 %}
										<tr
											onclick="window.location.href='{% url 'get_appointment' app.patient.id %}'; return false"
											class="user-danger"
										>
											<td scope="col-2" class="text-center">
												{{ app.patient.locations }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.first_name }}
											</td>
											<td scope="col-2" class="text-center">{{ app.patient.surname }}</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.patronymic }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.date|date:"d-m-Y" }}
											</td>
											<td scope="col" class="text-center">
												{{ app.score|floatformat:"-2" }}
											</td>
										</tr>
									{% elif 0.9 > app.score and app.score >= 0.55 %}
										<tr
											onclick="window.location.href='{% url 'get_appointment' app.patient.id %}'; return false"
											class="user-warning"
										>
											<td scope="col-2" class="text-center">
												{{ app.patient.locations }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.first_name }}
											</td>
											<td scope="col-2" class="text-center">{{ app.patient.surname }}</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.patronymic }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.date|date:"d-m-Y" }}
											</td>
											<td scope="col" class="text-center">
												{{ app.score|floatformat:"-2" }}
											</td>
										</tr>
									{% else %}
										<tr
											onclick="window.location.href='{% url 'get_appointment' app.patient.id %}'; return false"
											class="table-info"
										>
											<td scope="col-2" class="text-center">
												{{ app.patient.locations }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.first_name }}
											</td>
											<td scope="col-2" class="text-center">{{ app.patient.surname }}</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.patronymic }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.date|date:"d-m-Y" }}
											</td>
											<td scope="col" class="text-center">Норма</td>
										</tr>
									{% endif %} 
							{% endfor %}
						</tbody>
						<tbody
							class="table-group-divider"
							id="p_without_dy"
							style="display: none"
						>
							{% for app in patients_without_diabetes %} 
									{% if app.score >= 0.9 %}
										<tr
											onclick="window.location.href='{% url 'get_appointment' app.patient.id %}'; return false"
											class="user-danger"
										>
											<td scope="col-2" class="text-center">
												{{ app.patient.locations }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.first_name }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.surname }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.patronymic }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.date|date:"d-m-Y" }}
											</td>
											<td scope="col" class="text-center">
												{{ app.score|floatformat:"-2" }}
											</td>
										</tr>
									{% elif 0.9 > app.score and app.score >= 0.55 %}
										<tr
											onclick="window.location.href='{% url 'get_appointment' app.patient.id %}'; return false"
											class="user-warning"
										>
											<td scope="col-2" class="text-center">
												{{ app.patient.locations }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.first_name }}
											</td>
											<td scope="col-2" class="text-center">{{ app.patient.surname }}</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.patronymic }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.date|date:"d-m-Y" }}
											</td>
											<td scope="col" class="text-center">
												{{ app.score|floatformat:"-2" }}
											</td>
										</tr>
									{% else %}
										<tr
											onclick="window.location.href='{% url 'get_appointment' app.patient.id %}'; return false"
											class="table-info"
										>
											<td scope="col-2" class="text-center">
												{{ app.patient.locations }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.first_name }}
											</td>
											<td scope="col-2" class="text-center">{{ app.patient.surname }}</td>
											<td scope="col-2" class="text-center">
												{{ app.patient.patronymic }}
											</td>
											<td scope="col-2" class="text-center">
												{{ app.date|date:"d-m-Y" }}
											</td>
											<td scope="col" class="text-center">Норма</td>
										</tr>
									{% endif %} 	
							{% endfor %}
						</tbody>
					</table>
				</div>

				<form
					id="download_excel"
					method="POST"
					action="{% url 'download_excel' %}"
					enctype="multipart/form-data"
				>
					{% csrf_token %}
					<div class="row">
						<div class="col">
							<h3 class="container display-10 fw-bold text-left p-0">
								Список пациентов для выгрузки
							</h3>
						</div>
						<div class="col">
							<button
								type="submit"
								class="btn appointment-button"
								id="download-excel-btn"
							>
								Выгрузить excel файл
							</button>
						</div>
						<div class="col-6">
							<div class="form-check form-switch">
								<input
									class="form-check-input"
									type="checkbox"
									role="switch"
									id="TableList"
								/>
								<label class="form-check-label" for="TableList"
									>Переключить содержимое таблицы (Диабет)</label
								>
							</div>
						</div>
					</div>
					<div class="scroll-table-body">
						<table
							id="patients_with_dg"
							class="table-group-divider zz w-100 table table-striped-columns"
						>
							<thead>
								<tr>
									<th
										scope="col"
										class="col-1 text-center"
										id="select-all-checkbox"
									>
										<input type="checkbox" class="form-check-input" />
									</th>
									<th scope="col" class="col-2 text-center">Больница</th>
									<th scope="col" class="col-2 text-center">Фамилия</th>
									<th scope="col" class="col-2 text-center">Имя</th>
									<th scope="col" class="col-2 text-center">Отчество</th>
									<th scope="col" class="col-2 text-center">
										Дата приема
										<a href="#" onclick="sortTableByDate2()">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-filter"
												viewBox="0 0 16 16"
											>
												<path
													d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
												/>
											</svg>
										</a>
									</th>
									<th scope="col" class="col-1 text-center">Вероятность</th>
								</tr>
							</thead>
							<tbody class="table-group-divider" id="p_with_dg">
								{% for appointment in export_p_d %} 
									<tr onclick="toggleCheckbox(this)" class="user-danger">
										<td scope="col" class="col text-center qwe" style="width: 5%">
											<input
												type="checkbox"
												class="form-check-input qwe patient-checkbox"
												name="selected_patients"
												value="{{ appointment.id }}"
												onclick="event.stopPropagation()"
												id="flexCheckChecked"
											/>
										</td>
										<td scope="col-2" class="text-center">
											{{ appointment.patient.locations }}
										</td>
										<td scope="col-2" class="text-center">
											{{ appointment.patient.first_name }}
										</td>
										<td scope="col-2" class="text-center">
											{{ appointment.patient.surname }}
										</td>
										<td scope="col-2" class="text-center">
											{{ appointment.patient.patronymic }}
										</td>
										<td scope="col-2" class="text-center">
											{{ appointment.date|date:"d-m-Y" }}
										</td>
										<td scope="col" class="text-center">
											{{ appointment.score|floatformat:"-2" }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
							<tbody
								class="table-group-divider"
								id="p_without_dg"
								style="display: none"
							>
								{% for appointment in export_no_d %} 
											<tr onclick="toggleCheckbox(this)" class="user-danger">
												<td scope="col" class="col text-center qwe" style="width: 5%">
													<input
														type="checkbox"
														class="form-check-input qwe patient-checkbox"
														name="selected_patients"
														value="{{ appointment.id }}"
														onclick="event.stopPropagation()"
														id="flexCheckChecked"
													/>
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.locations }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.first_name }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.surname }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.patient.patronymic }}
												</td>
												<td scope="col-2" class="text-center">
													{{ appointment.date|date:"d-m-Y" }}
												</td>
												<td scope="col" class="text-center">
													{{ appointment.score|floatformat:"-2" }}
												</td>
											</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</form>
				<script>
					document
						.getElementById('TableList')
						.addEventListener('click', function () {
							var checkboxes = document.querySelectorAll(
								"#patients_with_dg input[type='checkbox']"
							)
							for (var i = 0; i < checkboxes.length; i++) {
								checkboxes[i].checked = this.checked
							}
						})
					document
						.getElementById('select-all-checkbox')
						.addEventListener('click', function () {
							var checkboxes = document.querySelectorAll('.patient-checkbox')
							for (var i = 0; i < checkboxes.length; i++) {
								checkboxes[i].checked = !checkboxes[i].checked
							}
						})
				</script>
				<script>
					function toggleCheckbox(row) {
						var checkbox = row.querySelector('input[type="checkbox"]')
						checkbox.checked = !checkbox.checked
					}

					document
						.getElementById('TableTask')
						.addEventListener('click', function () {
							var t_patientsWithDiabetes = document.getElementById('p_with_dy')
							var t_patientsWithoutDiabetes =
								document.getElementById('p_without_dy')
							var t_label = document.querySelector("label[for='TableTask']")

							if (this.checked) {
								t_patientsWithDiabetes.style.display = 'none'
								t_patientsWithoutDiabetes.style.display = ''
								t_label.innerText =
									'Переключить содержимое таблицы (Без диабета)'
							} else {
								t_patientsWithDiabetes.style.display = ''
								t_patientsWithoutDiabetes.style.display = 'none'
								t_label.innerText = 'Переключить содержимое таблицы (Диабет)'
							}
						})

					document
						.getElementById('TableList')
						.addEventListener('click', function () {
							var l_patientsWithDiabetes = document.getElementById('p_with_dg')
							var l_patientsWithoutDiabetes =
								document.getElementById('p_without_dg')
							var l_label = document.querySelector("label[for='TableList']")

							if (this.checked) {
								l_patientsWithDiabetes.style.display = 'none'
								l_patientsWithoutDiabetes.style.display = ''
								l_label.innerText =
									'Переключить содержимое таблицы (Без диабета)'
							} else {
								l_patientsWithDiabetes.style.display = ''
								l_patientsWithoutDiabetes.style.display = 'none'
								l_label.innerText = 'Переключить содержимое таблицы (Диабет)'
							}
						})
				</script>
				<script src="{% static 'js/sort_table_doctor.js' %}"></script>		
				<div class="row">
					<div class="col">
						<h3 class="display-10 fw-bold text-center">
							Просмотреть готовые анкеты пациентов
						</h3>
					</div>
				</div>
				<div class="row g-3 align-items-center">
					<div class="col-7">
						<input
							type="text"
							id="searchInput"
							class="form-control"
							placeholder="Поиск по Фамилии, Имени или Отчеству"
						/>
					</div>
					<div class="col-5 text-right">
						<div class="form-check form-switch">
							<input
								class="form-check-input"
								type="checkbox"
								role="switch"
								id="pathology_filter"
								name="filter"
								value="pathology"
								checked
							/>
							<label class="form-check-label" for="pathology_filter"
								>Показать только пациентов с патологией</label
							>
						</div>
					</div>
				</div>
				<br />
				<div id="patient-table-container">

					<table
						id="check_patients"
						class="table-group-divider zz w-100 table table-striped-columns"
					>
						<thead>
							<tr>
									<th scope="col" class="col-3 text-center">
										<input type="text" id="hospital-filter" placeholder="Больница" />
									</th>
									<th scope="col" class="col-2 text-center">
											<input type="text" id="first-name-filter" placeholder="Фамилия" />
									</th>
									<th scope="col" class="col-2 text-center">
											<input type="text" id="surname-filter" placeholder="Имя" />
									</th>
									<th scope="col" class="col-2 text-center">
											<input type="text" id="patronymic-filter" placeholder="Отчество" />
									</th>
									<th scope="col" class="col-2 text-center">Дата приема</th>
							</tr>
						</thead>
						<tbody class="table-group-divider" id="check_pathology_1">

						</tbody>
					</table>

					<div class="pagination">
							<span class="step-links">
									<button id="prev-page" disabled>Предыдущая</button>
									<span id="current-page">Страница 1 из ?.</span>
									<button id="next-page">Следующая</button>
							</span>
					</div>
				</div>

				<script>
						let currentPage = 1;

						function loadPatients(page, filters = {}) {

								$.ajax({
										url: '/patients/?page=' + page,
										type: 'GET',
										dataType: 'json',
										data: filters,
										success: function(data) {
												const tbody = $('#check_pathology_1');
												tbody.empty(); // Очищаем старые данные

												data.patients.forEach(patient => {
														const patientRow = document.createElement('tr');
														patientRow.classList.add('table-info');
														patientRow.setAttribute('data-patient-id', patient.id);
														
														patientRow.innerHTML = `
																<td class="text-center">${patient.hospital}</td>
																<td class="text-center">${patient.first_name}</td>
																<td class="text-center">${patient.surname}</td>
																<td class="text-center">${patient.patronymic}</td>
																<td class="text-center">${patient.appointment_last}</td>`
														
														patientRow.addEventListener('click', () => {
																window.location.href = `/get_appointment${patient.id}/old_appointment`
														});

														tbody.append(patientRow);
												});
												currentPage = data.current_page;

												$('#prev-page').prop('disabled', !data.has_previous);
												$('#next-page').prop('disabled', !data.has_next);
										}
								});
						}

						$('#prev-page').on('click', function() {
								if (currentPage > 1) {
										loadPatients(currentPage - 1);
								}
						});

						$('#next-page').on('click', function() {
								loadPatients(currentPage + 1);
						});

						$(document).ready(function() {
								loadPatients(1);

								// Обработчики событий для фильтров
								$('#pathology_filter, #hospital-filter, #surname-filter, #first-name-filter, #patronymic-filter').on('input', function() {
										loadPatients(1, getFilters());
								});
						});

						function getFilters() {
								return {
										pathology: $('#pathology_filter').val(),
										hospital: $('#hospital-filter').val(),
										surname: $('#surname-filter').val(),
										first_name: $('#first-name-filter').val(),
										patronymic: $('#patronymic-filter').val()
								};
						}

				</script>

				<script>

					function toggleCollapsible(id) {
						var collapsible = document.getElementById('collapse' + id)
						if (collapsible.style.display === 'none') {
							collapsible.style.display = ''
						} else {
							collapsible.style.display = 'none'
						}
					}
				</script>
				<script>
					$(document).ready(function () {
						$('#searchInput').on('keyup', function () {
							var value = $(this).val().toLowerCase()
							$('#check_patients tbody tr').filter(function () {
								$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
							})
						})
					})

					const flexSwitch = document.getElementById('flexSwitch')
					const check_pathology_1 = document.getElementById('check_pathology_1')
					const check_all_1 = document.getElementById('check_all_1')

					flexSwitch.addEventListener('change', function () {
						if (flexSwitch.checked) {
							check_pathology_1.style.display = ''
							check_all_1.style.display = 'none'
						} else {
							check_pathology_1.style.display = 'none'
							check_all_1.style.display = ''
						}
					})
				</script>
				<script>
					function moveCheckSelected(key) {
						$.ajax({
							url: '/modal_pacient' + key,
							type: 'GET',
							data: { check: true },

							success: function (json) {
								if (json.result) {
									var doc = $.parseHTML(json.modal_list)
									$('#modal_pacient' + key).html(doc)
									$('#modal_pacient' + key).scrollTop(9999)
								}
							},
						})
						$('#modal' + key).modal('show')
					}
				</script>
				<script src="{% static 'js/wheelzoom.js' %} "></script>
				{% for patient in list_patient %} 
					{% for i in	patient.appointment_set.all %}
					<!-- Модальное окно -->
					<div
						class="modal fade"
						id="modal{{i.id}}"
						tabindex="-1"
						aria-labelledby="staticBackdropLabel"
						aria-hidden="false"
					>
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<div class="container">
										<h1
											class="modal-title fs-5 text-center"
											id="staticBackdropLabel"
										>
											<div class="row">
												<div class="text-center">
													Пациент: {{patient.first_name}} {{patient.surname}}
													{{patient.patronymic}}
												</div>
											</div>
											<div class="row text-center">
												<div class="text-center">
													Дата рождения: {{patient.date_of_birth|date:"d-m-Y"}}г.
												</div>
											</div>
										</h1>
									</div>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Закрыть"
									></button>
								</div>
								<div id="modal_pacient{{i.id}}"></div>
								<div class="modal-footer">
									<button
										type="button"
										class="btn btn-secondary"
										data-bs-dismiss="modal"
									>
										Закрыть
									</button>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		<!--      # TODO: Загрузка   -->

		<script>
			// Показываем Border spinner перед переходом на новую страницу
			$(document).ready(function () {
				$('#patients_with_dy tr').click(function () {
					$('#loading').fadeIn()
					$('#patients_with_dy tr').attr('disabled', true)
				})
			})
		</script>
		<!--      # TODO: Открытие приема   -->
		<script>
			function moveCheckSelectedDoctor(key) {

				$.ajax({
					url: '/modal_pacient' + key,
					type: 'GET',
					data: { check: true },
					success: function (json) {
						if (json.result) {
							var doc = $.parseHTML(json.modal_list)
							$('#modal_pacient' + key).html(doc)
							$('#modal_pacient' + key).scrollTop(9999)
						}
					},
				})
				if ($(this).val() === '' + key) {
					$('#modal' + key).modal('show')
				}
			}
			$('#open').on('change', function () {
				let key = this.value
				$.ajax({
					url: '/modal_pacient' + key,
					type: 'GET',
					data: { check: true },
					success: function (json) {
						if (json.result) {
							var doc = $.parseHTML(json.modal_list)
							$('#modal_pacient' + key).html(doc)
							$('#modal_pacient' + key).scrollTop(9999)
						}
					},
				})
				if ($(this).val() === '' + key) {
					$('#modal' + key).modal('show')
				}
			})
		</script>
		{% endif %} {% endblock %}
	</body>
</html>
