				<div class="row g-3 align-items-center">
					<div class="col-7">
						<h3 class="display-10 fw-bold text-center"></h3>
							Просмотреть готовые анкеты пациентов
						</h3>
					</div>
					<div class="col-5 text-right">
						<div class="form-check form-switch">
							<input
								class="form-check-input"
								type="checkbox"
								role="switch"
								id="pathology_filter"
								name="filter"
								value="pathology"
								checked
							/>
							<label class="form-check-label" for="pathology_filter"
								>Показать только пациентов с патологией</label
							>
						</div>
					</div>
				</div>
				<br />
				<div id="patient-table-container">

					<table
						id="check_patients"
						class="table-group-divider zz w-100 table table-striped-columns"
					>
						<thead>
							<tr>
									<th scope="col" class="col-3 text-center">
										<input type="text" id="hospital-filter" placeholder="Больница" />
									</th>
									<th scope="col" class="col-2 text-center">
											<input type="text" id="first-name-filter" placeholder="Фамилия" />
									</th>
									<th scope="col" class="col-2 text-center">
											<input type="text" id="surname-filter" placeholder="Имя" />
									</th>
									<th scope="col" class="col-2 text-center">
											<input type="text" id="patronymic-filter" placeholder="Отчество" />
									</th>
									<th scope="col" class="col-2 text-center">Дата приема</th>
							</tr>
						</thead>
						<tbody class="table-group-divider" id="check_pathology_1">

						</tbody>
					</table>

					<div class="pagination">
							<span class="step-links">
									<button id="prev-page" disabled>Предыдущая</button>
									<span id="current-page">Страница 1 из ?.</span>
									<button id="next-page">Следующая</button>
							</span>
					</div>
				</div>

				<script>
						let currentPage = 1;

						function loadPatients(page, filters = {}) {

								$.ajax({
										url: '/patients/?page=' + page,
										type: 'GET',
										dataType: 'json',
										data: filters,
										success: function(data) {
												const tbody = $('#check_pathology_1');
												tbody.empty(); // Очищаем старые данные

												data.patients.forEach(patient => {
														const patientRow = document.createElement('tr');
														patientRow.classList.add('table-info');
														patientRow.setAttribute('data-patient-id', patient.id);
														
														patientRow.innerHTML = `
																<td class="text-center">${patient.hospital}</td>
																<td class="text-center">${patient.first_name}</td>
																<td class="text-center">${patient.surname}</td>
																<td class="text-center">${patient.patronymic}</td>
																<td class="text-center">${patient.appointment_last}</td>`
														
														patientRow.addEventListener('click', () => {
																window.location.href = `/get_appointment${patient.id}/old_appointment`
														});

														tbody.append(patientRow);
												});
												currentPage = data.current_page;

												$('#prev-page').prop('disabled', !data.has_previous);
												$('#next-page').prop('disabled', !data.has_next);
										}
								});
						}

						$('#prev-page').on('click', function() {
								if (currentPage > 1) {
										loadPatients(currentPage - 1);
								}
						});

						$('#next-page').on('click', function() {
								loadPatients(currentPage + 1);
						});

						$(document).ready(function() {
								loadPatients(1);

								// Обработчики событий для фильтров
								$('#pathology_filter, #hospital-filter, #surname-filter, #first-name-filter, #patronymic-filter').on('input', function() {
										loadPatients(1, getFilters());
								});
						});

						function getFilters() {
								return {
										pathology: $('#pathology_filter').val(),
										hospital: $('#hospital-filter').val(),
										surname: $('#surname-filter').val(),
										first_name: $('#first-name-filter').val(),
										patronymic: $('#patronymic-filter').val()
								};
						}

				</script>

				<script>

					function toggleCollapsible(id) {
						var collapsible = document.getElementById('collapse' + id)
						if (collapsible.style.display === 'none') {
							collapsible.style.display = ''
						} else {
							collapsible.style.display = 'none'
						}
					}
				</script>
				<script>

					const flexSwitch = document.getElementById('flexSwitch')
					const check_pathology_1 = document.getElementById('check_pathology_1')
					const check_all_1 = document.getElementById('check_all_1')

					flexSwitch.addEventListener('change', function () {
						if (flexSwitch.checked) {
							check_pathology_1.style.display = ''
							check_all_1.style.display = 'none'
						} else {
							check_pathology_1.style.display = 'none'
							check_all_1.style.display = ''
						}
					})
				</script>